.playArea{
	align-content: center;
	height: auto;
	width:  auto;
	background-color: green;
	margin: 0;
	height: 1000px;
}
#timer{
	margin-top: 20px;
}
.btn:hover{
	border-style: solid;
	border-color: darkblue;
	background-color: lightblue;
}
.btn:focus{
	border-style: solid;
	border-color: darkblue;
	background-color: lightblue;
}
#questions{
	font-size: 30px;
}
